<img class="large_tree" src="/assets/tree-silhouette-svg-3.png" alt="Image Not Found">

<div class="w3-row-padding">
    <div class="w3-col m5 center">
        <div class="w3-card w3-round w3-white">
            <form action="/users/login" method="POST" class="w3-container w3-padding">
                <div class="login_title">
                    <h1>All for One Login</h1>
                </div>
                <div class="grid_username">
                    <input class="w3-border w3-padding" type="text" id="username" name="username" placeholder="Username"
                        value="">
                </div>
                <div class="grid_username">
                    <input class="w3-border w3-padding" type="password" id="password" name="password"
                        placeholder="Password" value="" />
                </div>
                <button type="submit" class="w3-button w3-theme">Login</button>
                {{#if successMsg}}
                <b>{{successMsg}}</b>
                {{/if}}
                {{#if error}}
                <b>{{error}}</b>
                {{/if}}
                {{#if errorMsg}}
                <b>{{errorMsg}}</b>
                {{/if}}
                <a href="/users/register" type="button" class="w3-button w3-theme-d1 comment_button">Create Account</a>
                <b class="vote_tally">New to All for One?</b>
            </form>
        </div>
    </div>
</div>