<div class="w3-row-padding">
    <div class="w3-col m8 center">
        <div class="w3-card w3-round w3-white">
            <form class="w3-container w3-padding" action="/users/login" method="POST">
                <div class="grid_username">
                    <input class="w3-border w3-padding" type="text" id="username" name="username" placeholder="Username"
                        value="">
                </div>
                <div class="grid_username">
                    <input class="w3-border w3-padding" type="password" id="password" name="password"
                        placeholder="Password" value="" />
                </div>
                {{#if successMsg}}
                <p>{{successMsg}}</p>
                {{/if}}
                {{#if errorMsg}}
                <p>{{errorMsg}}</p>
                {{/if}}
                <button type="submit" class="w3-button w3-theme">Login</button>
                <a type="link" href="/users/register" class="w3-button w3-theme">Need to register? Create Account</a>
            </form>
        </div>
    </div>
</div>