<div class="w3-row-padding">
	<div class="w3-col m8 center">
		<div class="w3-card w3-round w3-white">
			<form class="w3-container w3-padding">
				<div class="grid_username">
					<input class="w3-border w3-padding title" type="text" placeholder="Title" value="" />
				</div>
				<div class="grid_username">
					<textarea class="textarea w3-border w3-input body" rows="5"
						placeholder="What's on your mind?"></textarea>
				</div>
				<div class="grid_username">
					<label for="file">Upload image to Imgur, OR add URL to external site below.</label>
					<small>(If you try to do both, only the imgur URL will be saved.)</small>
					<input class="w3-border w3-padding" type="file" value="" />
				</div>
				<div class="grid_username">
					<label for="url"></label>
					<input class="w3-border w3-padding url" type="text" value=""
						placeholder="(Optional) Paste URL here." />
				</div>
				<button type="submit" class="w3-button w3-theme submit-post"><i class="fa fa-pencil"></i> Post</button>
				{{#if errorMsg}}
				<b>{{errorMsg}}</b>
				{{/if}}
			</form>
		</div>
	</div>
</div>