<div>
    <div>
        <div>
            <h1>
                <i class="fas fa-user-plus"></i> Register
            </h1>
            <form action="/users/register" method="POST">
                <div>
                    <label for="name">Username</label>
                    <input type="text" id="name" name="username" placeholder="Enter Name"
                        value="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"
                        placeholder="Create Password" value=""/>
                </div>
                <div>
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="password2" name="password2"
                        placeholder="Confirm Password"
                        value=""/>
                </div>
                <div>
                    <label for="">Birthdate</label>
                    <input type="text" name="birthdate"
                        placeholder="YYYY-MM-DD"
                        value=""/>
                </div>
                <div>
                    <label for="">User Avatar</label>
                    <input type="text" name="avatar"
                        placeholder="Enter avatar URL"
                        value=""/>
                </div>
                <button type="submit">
                    Register
                </button>
            </form>
            <p>Have An Account? <a href="/users/login">Login</a></p>
        </div>
    </div>
</div>