<div class="w3-row-padding">
    <div class="w3-col m8 center">
        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                <h1>
                    <i class="fas fa-user-plus"></i> Register
                </h1>
                <form>
                    <div class="grid">
                        <label for="">Name</label>
                        <div class="input-control input-row">
                            <input class="w3-border w3-padding" type="text" id="first-name" placeholder="First" value="" />
                            <input class="w3-border w3-padding" type="text" id="last-name" placeholder="Last" value="" />
                        </div>
                    </div>
                    <div class="grid">
                        <label for="name">Username</label>
                        <input class="w3-border w3-padding input-control" type="text" id="username" name="username"
                            placeholder="Enter Name" value="">
                    </div>
                    <div class="grid">
                        <label for="password">Password</label>
                        <input class="w3-border w3-padding input-control" type="password" id="password" name="password"
                            placeholder="Create Password" value="" />
                    </div>
                    <div class="grid">
                        <label for="password2">Confirm Password</label>
                        <input class="w3-border w3-padding input-control" type="password" id="password2" name="password2"
                            placeholder="Confirm Password" value="" />
                    </div>
                    <div class="grid">
                        <label for="">Birthdate</label>
                        <div class="input-control input-row">
                            <input class="w3-border w3-padding" type="text" id="month" name="birthdate" placeholder="MM"
                                value="" />
                            <input class="w3-border w3-padding" type="text" id="day" name="birthdate" placeholder="DD"
                                value="" />
                            <input class="w3-border w3-padding" type="text" id="year" name="birthdate"
                                placeholder="YYYY" value="" />
                        </div>
                    </div>
                    <div class="grid">
                        <label for="">User Avatar</label>
                        <input class="w3-border w3-padding input-control" type="text" id="avatar" name="avatar"
                            placeholder="Enter avatar URL" value="" />
                    </div>
                    <button type="button" class="register w3-button w3-theme">Register</button>
                </form>
                <p>Have An Account? <a href="/users/login">Login</a></p>
            </div>
        </div>
    </div>
</div>