<div class="w3-container w3-content" style="max-width:1400px;margin-top:2rem; text-align: center;">
    <h1><code>Error: 500</code></h1>
    <h2>Sorry, there has been an internal server error.</h2>
</div>